[user]
	name = Brandon Myers
    email = bdmyers@cs.washington.edu

[alias]
    com = commit
    st = "status"
    brr = for-each-ref --sort=-committerdate refs/heads/ --format='(%(authordate:relative)) \t %(refname:short)'
    br = branch --color=auto
    co = checkout
    df = "diff --color-words"
    lg = "log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative"
    lgp = "log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative"
    ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    outgoing = "!(git fetch --quiet && git log --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %ar%Creset' $(git rev-parse --abbrev-ref --symbolic-full-name @{u})..)"
    incoming = "!(git fetch --quiet && git log --pretty=format:'%C(yellow)%h %C(red)%an %C(cyan)%d%Creset %s %C(white)- %ar%Creset' ..$(git rev-parse --abbrev-ref --symbolic-full-name @{u}))"
    grep = grep -Ii
    

[merge]
    tool = vimdiff

[push]
    default = simple
